
    <% layout("/layouts/boilerplate")%>
    <div class="row mt-3">
        <div class="col-8 offset-2">

</head>
<body>
    <h1>add the property</h1>
    <form  method="POST" action="/listings"  novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]"  class="form-control" placeholder="enter the title" type="text" required />
            <div class="valid-feedback">
                Looks good!
              </div>
        </div>
       
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
        <textarea 
        class="form-control"
            name="listing[description]"
            placeholder="description" required>
        </textarea>
        <div class="invalid-feedback">
            enter description
           </div> 
        </div>
     
<div class="row">

        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>    
           <input name="listing[price]" placeholder="enter the price"  class="form-control" required />
       
           <div class="invalid-feedback">
            enter a valid price
           </div> 
       
        </div>

       <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>  
        <input name="listing[country]" placeholder="enter the country" type="text" class="form-control" required /> 
        <div class="invalid-feedback">
           enter a valid input
           </div> 
    </div>

</div>


<!-- <div class="mb-3">
    <label for="image" class="form-label">Image</label>    
   <input name="listing[image]" placeholder="enter the url" type="text" class="form-control" />
</div> -->

<div class="mb-3">
    <label for="image" class="form-label">Image</label>    
   <input name="image" placeholder="enter the url" type="file" class="form-control" />
required
</div>
   
<div class="mb-3">
    <label for="location" class="form-label">Location</label> 
    <input name="listing[location]" placeholder="enter the location" type="text" class="form-control" required/>
    <div class="invalid-feedback">
       enter valid location
       </div> 
</div>
   
    <button class="edit-btn mt-3 ">add </button>
</form>
</div>
</div>