.auth-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: -20px -15px;
    padding: 40px 15px;
}

.auth-card {
    background: white;
    border-radius: 40px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
    padding: 40px;
    max-width: 450px;
    width: 100%;
}

.auth-header {
    text-align: center;
    margin-bottom: 30px;
}

.auth-header h1 {
    color: #333;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.auth-header p {
    color: #121111;
    font-size: 16px;
}

.auth-card .form-control {
    border-radius: 10px;
    padding: 12px 15px;
    border: 2px solid #e0e0e0;
    transition: all 0.3s;
}

.auth-card .form-control:focus {
    border-color: #667eea;
    box-shadow: 0 0 0 0.2rem rgba(102, 126, 234, 0.25);
}

.auth-card .form-label {
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.btn-auth {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid black;
    background: rgb(45, 158, 28);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    transition: transform 0.2s;
}

.btn-auth:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(55, 56, 62, 0.4);
    background-color:rgb(102, 234, 82); ;
}

.auth-footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

.auth-footer a {
    color: #667eea;
    text-decoration: none;
    font-weight: 600;
}

.auth-footer a:hover {
    text-decoration: underline;
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.input-icon .form-control {
    padding-left: 45px;
}

.forgot-password {
    text-align: right;
    margin-top: 10px;
}

.forgot-password a {
    color: #667eea;
    text-decoration: none;
    font-size: 14px;
}